        .header-title {
		        line-height:30pt;
                font-size:24pt;
                color: white;
	    }
        .header-trans {
            background-image: url(/assets/images/home_panels/semi-trans.png);
            padding: 20px 0 20px 0;
        }	
        	
        .EndUseLink {
			padding-right:25px !important;
		}
		
		#ProdBrowserContent TD, .ProductBrowserGrid TD {
			xpadding-right:10px;
			font-size:9pt !important;
			xfont-family:arial !important;
			xborder-right:1px solid red;
		}
		
		.ProductBrowserGrid TD A {
			color:#666;
		}		
		
		.BrowserThumb {
			width:60px !important;
			height:60px !important;
			xborder-bottom:1px solid #f0f0f0;
		}
			
		.infotext, .InfoText {
			font-size:8pt;
		}
		.small, .ReviewText {
			font-size:9pt;
		}
		
		.spacer20 {
			margin-bottom:20px;
		}
		.spacer10 {
			margin-bottom:10px;
		}		
		.spacer5 {
			margin-bottom:5px;
		}				
		
		.spacer40 {
			margin-bottom:40px;
		}
		
		.spacer10 {
			margin-bottom:10px;
		}
		
		.DealerTable {
			xwidth:100px !important;
		}
		
		.DealerTable TD {
			border:1px solid silver;;
			padding-right:10px;
			font-size:9pt !important;
			font-family:arial !important;
			border-color:silver;
			padding:5px;
		}
		
		.DealerTable TH {
			padding-right:10px;
			background:#333;
			color:white;
			font-size:9pt !important;
			font-family:arial !important;		
			text-align:left;
			padding:5px;
		}
		
		.navbar-simple {
			background:#fff !important;
			border:none !important;
		}
		
		.navbar-simple li a, .TopNavLink  {
			padding-left:0 !important;
			text-transform:uppercase;
			padding-right:30px !important;	
			color:#666;
			font0-size:12pt;
		}
		.TransContent {
			border:1px dashed silver;
		}
		
		.ContentMarker {
			border:1px dashed blue;
		}
		
		.Label_EDIT, .Content_EDIT {
			border:1px dashed silver;
		}		
		
		.Label_EDIT_DISABLE {
		
		}
		
		.FormHidden {
			background:pink;
			color:red;
			font-size:8pt;
			font-family:arial;
			border:1px solid crimson;
			width:100px;
		}
		
		.ProductDetailLink {
			color:#000 !important;
		}
		.ProductDetailLink:HOVER {
			color:#666 !important;
		}		
		
		.ExternalURL, .ExternalLink, .OrangeLink {
			color:orange;
		}
		
		A {
			color:#333;			
		}
		
		A:HOVER {
			color:#000;			
		}		

		.ProductShortDescription {
			font-size:10pt;
			font-weight:bold;
			margin-bottom:10px;
		}
		
		.ProductBullet {
			font-size:10pt;
		}
		
		.ProductLongDescription {
			font-size:10pt;
			margin-bottom:10px;
		}
		
		.FooterLink {
			color:#ccc;
		}
		.FooterLink:HOVER {
			color:white;
		}		
		
		.ReviewerName {
			color:orange;
			font-weight:bold;
		}
		.ReviewerScore {			
			font-weight:bold;
		}
				
		.WhiteLink {
			color:#fff;
		}
		.WhiteLink:HOVER {
			color:#f0f0f0 !important;
		}		
		
		.WhiteLink:VISITED {
			color:#f0f0f0 !important;
		}			
		
		p {
			line-height:17pt;
		}
		
		.BlogPageHeading {
			font-size:16pt;
			font-weight:bold;
			line-height:120%;
		}
		
		H3 {
			line-height:120%;
		}
		
		.legible {
			font-family:arial !important;
			font-size:9pt !important;
		}
		
		.OOSQty {
			border:1px solid red;
		}
		
		.ProdThumb30 {
			width:30px;
		}
		
		.ProdThumb90 {
			width:90px !important;
		}		
		
		.ProdThumb40 {
			width:40px;
		}
				
		
		.ProdThumb60 {
			width:60px;
		}		
		
		.BasketTopTable {
			background:#fff;
			
		}
		.BasketTopTable TD {
			font-size:9pt;
			font-family:Arial;
			padding:10px;
			border:1px solid silver !important;
		}		
		
		.ProductDetailSKUGrid {
			background:#fff;
			border:1px solid silver !important;
		}
		
		.ProductDetailSKUGrid TD, .ProductDetailSKUGrid TH {
			font-size:9pt;
			font-family:Arial;
			padding:3px;
			border-bottom:1px solid silver !important;
			border-right:1px solid silver !important;
		}		
		
		.ProductDetailSKUGrid TH {
			font-size:9pt;
			font-family:Arial;
			padding:3px;
		}			
		
		.ProductDetailSKUQty {
			width:30px;
			text-align:right;
		}
		
		.QuickSearchSKUQty {
			width:20px;
			font-size:9pt !important;
			font-family:Arial !important;
		}		
		
		.red {
			color:red;
			font-weight:bold;
		}
		
		.green {
			color:green;
			font-weight:bold;
		}		
		
		.TinySKU {
			font-size:7pt;	
			border:1px solid #f0f0f0;
			border-radius:3px;
			padding:2px;
			background:#f0f0f0;
		}
		
		.CheckoutOption {
			width:90%;
		}
		
		.ProductDetailVariant {
			color:silver;
		}
	
		.DatePicker {
			
			font-weight:normal;
			font-size:9pt !important;			
			width:90px;
			font-family:arial !important;			
		}
		
		.InfoText {
			font-size:8pt;
		}
		
		.AdminTable {
			background:#fff;
			border:1px solid silver !important;
		}
		
		.AdminTable TD {
			font-size:9pt;
			font-family:Arial;
			padding:10px;
		}		
		
		
		.AdminForm {
		
			border:1px solid silver;
			padding:10px;
			border-radius:5px;
		}
		
		input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		}
		
		.ClearanceQty {
			width:30px;
			text-align:right;
		}
		
		.ClearanceNow {
			xcolor:green;
			font-size:140%;
			padding:5px;
			xfont-weight:bold;
		}
		
		.ColorBar{
			background-repeat:none;
			border:1px solid black;
			height:10px;
			width:20px;
		}
		
		.ClearanceBulkBuy {
			font-weight:bold;
			color:green;
		}
		
		.TableHead TD {
			background:#333;
			color:white;
		}
		
		.ReportTable {
			border:1px solid silver;
		}
		
		.ReportTable TD, TH {
			padding:5px !important;
		}
		
		.StockEnquiryLink {
			cursor:pointer;
		}
		.subtle {
			color:silver;
		}
		.subtle {
			font-size:7pt;
		}		
		
		input[type="checkbox"] {
			margin:0 !important;	
		}
		
		label{
			display: inline;
		}
		
		.CMSHidden {
			display:none;
			visibility:hidden;
			height: 0px;
			width: 0px;			
		}
		
		.ZoomThumbLink {
			cursor:pointer;			
		}
		
		.BigInput {
			font-family:arial !important;
			xfont-size:16pt !important;
			padding:10px  !important;
			xwidth:340px;
		}		
		
		.BigQty {
			font-family:arial;
			font-size:16pt !important;
			padding:10px  !important;
			width:40px;
		}
		
		.NotLink, .pointer {
			cursor:pointer;
		}
		
		.QAForm {
			border:1px solid silver;
			border-radius:5px;
			padding:10px;
		}
		
		.HeaderSearchInput {
			font-family:arial !important;
			padding:2px;
			border-radius:3px;
			font-size:8pt  !important;
			width:90px;
			margin-top:8px;
			height:15px !important;
		}
		
		.AjaxLoader {
			font-family:arial;
			font-size:9pt;
		}
		
		.label-forthcoming {
			background:LawnGreen !important;
			color:#000 !important;
		}		
		
		.label-bo {
			background:MediumVioletRed !important;
		}				
		
		.label-fo {
			background:Indigo !important;
		}
		
		.next_date {
			xcolor:orange;font-weight:bold;
			xbackground:#f0f0f0;
			xborder-radius:3px;
		}
		
		.enquiry_selected_sku {
			background:lightyellow !important;
		}
		
		.numeric {
			text-align:right;
		}
		
		input[type="number"] {
			-moz-appearance: textfield;
		}
		
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}		
		