﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="sagepay.master.cs"
    Inherits="FormKitSite" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>ENDURA SAGEPAY</title>
    
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        var isInIFrame = (window.location != window.parent.location) ? true : false;
        if (isInIFrame) {
            window.parent.location = window.location;
        }
    </script>
</head>
<body>
   
    <div id="pageContainer">
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </div>
   
</body>
</html>
