		.NavHidden {
			 display:none;
		}		
		
		#ProductBrowser {
			font-family:verdana;
			font-size:9pt;
		}
		
		.NavHolder {
			padding-top:5px;padding-bottom:5px;
		}
		
		.row-fluid .span2 {
			xbackground-color:yellow;
			width:auto !important;			
		}
		
		.legible {
			font-family:verdana !important;
			font-size:9pt;
		}
		
		.FilterLink {
			color:white !Important;
			text-decoration:none !important;
		}
		
		.FilterLink:HOVER {
			color:#fff !important;
			text-decoration:none;
		}		