﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FormKitSite.master" AutoEventWireup="true"
    CodeFile="Basket.aspx.cs" Inherits="Form_Basket" %>
<%@ Register src="../Controls/Basket.ascx" tagname="Basket" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <form id="form1" runat="server">
        <uc1:Basket ID="ucBasket" runat="server" />
    </form>
</asp:Content>
