﻿<%@ Page Language="C#" MasterPageFile="~/FormKitSite.master" AutoEventWireup="true"
    CodeFile="ExtraInformation.aspx.cs" Inherits="Form_ExtraInformation" %>

<%@ Register Src="../Controls/BasketOtherInfo.ascx" TagName="ExtraInformation" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <form id="form2" runat="server">
    <uc1:ExtraInformation ID="ucBasketOtherInfo" runat="server" />
    </form>
</asp:Content>
